.about-page-css {
  overflow: hidden;
}

.about-grid-container-css {
  display: grid;
  grid-template: 3vw 8vw 7vw 3vw 3vw 3vw 3vw 3vw 3vw 3vw 3vw 1vw / 0.4fr 4fr 1fr 0.4fr;
  grid-template-areas:
    '. . . grid-10'
    '. grid-1 grid-6 .'
    '. grid-2 . .'
    '. grid-2 . .'
    '. grid-2 . .'
    '. grid-2 grid-9 grid-9'
    '. grid-2 . .'
    '. grid-3 . grid-5'
    '. grid-3 . grid-7'
    '. grid-3 . grid-8'
    '. grid-3 . .'
    '. . . .';
}

/* CSS for logo-container-css is t the homepage.css */
/* .logo-container-css {
  grid-area: grid-1;
} */

/* CSS for hamburger-container-css is t the homepage.css */
/* .hamburger-container-css {
  grid-area: grid-6;
} */

.about-container-css {
  grid-area: grid-2;
  padding: 0% 1%;
}

.techstacks-container-css {
  grid-area: grid-3;
}

.linkedin-container-css {
  grid-area: grid-5;
  display: flex;
  justify-content: center;
}

.facebook-container-css {
  grid-area: grid-7;
  display: flex;
  justify-content: center;
}

.instagram-container-css {
  grid-area: grid-8;
  display: flex;
  justify-content: center;
}

.resume-container-css {
  grid-area: grid-9;
}

@keyframes comingIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.about-text-container {
  border-bottom: 2px solid black;
  margin-bottom: 1%;
}

.about-css {
  font-size: 3.4vw;
  font-family: Georgia, serif;
  color: #000000;
  margin: 0%;
  padding: 0%;
}

.information-text-container {
  border-left: 6px solid #D59BF6;
  border-radius: 10px;
  padding: 0.5% 1%;
  animation: goingIn 2s;
}

@keyframes goingIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.information-css {
  font-size: 1.4vw;
  font-family: Georgia, serif;
  color: #000000;
  text-align: left;
}

.techstacks-grid-css {
  display: grid;
  grid-template: 0.5fr 1fr 0.5fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'g1 g1 g1 g1 g1 g1 g1 g1'
    'g2 g3 g4 g5 g6 g7 g8 g9'
    'g10 g11 g12 g13 g14 g15 g16 g17';
  
}

.techstacks-text-css {
  grid-area: g1;
  font-size: 1.4vw;
  font-family: Georgia, serif;
  color: #000000;
  text-align: left;
}

.t1-css {
  grid-area: g2;
  display: flex;
  justify-content: center;
}

.t2-css {
  grid-area: g3;
  display: flex;
  justify-content: center;
}

.t3-css {
  grid-area: g4;
  display: flex;
  justify-content: center;
}

.t4-css {
  grid-area: g5;
  display: flex;
  justify-content: center;
}

.t5-css {
  grid-area: g6;
  display: flex;
  justify-content: center;
}

.t6-css {
  grid-area: g7;
  display: flex;
  justify-content: center;
}

.t7-css {
  grid-area: g8;
  display: flex;
  justify-content: center;
}

.t8-css {
  grid-area: g9;
  display: flex;
  justify-content: center;
}

.t9-css {
  grid-area: g10;
  margin-top: 2%;
}

.t10-css {
  grid-area: g11;
  margin-top: 2%;
}

.t11-css {
  grid-area: g12;
  margin-top: 2%;
}

.t12-css {
  grid-area: g13;
  margin-top: 2%;
}

.t13-css {
  grid-area: g14;
  margin-top: 2%;
}

.t14-css {
  grid-area: g15;
  margin-top: 2%;
}

.t15-css {
  grid-area: g16;
  margin-top: 2%;
}

.t16-css {
  grid-area: g17;
  margin-top: 2%;
}

.tech-image-css {
  width: 60%;
  display: flex;
  align-self: center;
}

.techstacks-border-css {
  border-left: 6px solid #D59BF6;
  border-radius: 10px;
  padding: 0.5% 1%;
  margin: 1% 0% 1% 1%;
  animation: goingIn 2s;
}

.downloadResume {
  border-radius: 10px;
  background-image: linear-gradient(180deg, #D59BF6, #FF88DE);
  box-shadow: 1px 1px #D59BF6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 23%;
  border: 2px solid black;
  margin-left: 0.5%;
  animation: comingIn 2s;
}

.downloadResume:hover {
  background-image: linear-gradient(180deg,  #FFFFFE, #FF88DE);
  border-color: #D59BF6;
}

.download-text-css {
  font-size: 1.3vw;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  color: #000000;
  margin: 1.5% 1% 1.5% 0%;
  display: inline-block;
}

.download-icon-css {
  display: inline-block;
  margin: 2.5% 2% 2.5% 1%;
}

.linkedin-css,
.facebook-css,
.instagram-css {
  margin-left: 41%;
  animation: goingIn 2s;
}

.reyda-image-container-css {
  grid-area: grid-10;
  /* position: absolute; */
  /* z-index: -200; */
  /* overflow: hidden; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  /* border: 1px solid black; */
  /* margin-left: 64%; */
}

.reyda-image-css {
  /* margin-left: 20%;
  margin-top: -10%; */
  width: 25%;
  position: absolute;
  z-index: -200;
  /* width: 0%; */
  animation: comingIn 2s;
}

.design-image-container-css {
  position: absolute;
  z-index: -200;
  overflow: hidden;
  margin-left: -10%;
  margin-top: 43%;
  height: 8%;
}

.design-image-css {
  width: 70%;
  animation: goingIn 2s;
}