.homepage {
  overflow: hidden;
}

.homepage-grid-container {
  display: grid;
  grid-template: 3vw 8vw 3vw 3vw 3vw 15vw 5vw 5vw / 0.4fr 4fr 1fr 0.4fr;
  grid-template-areas:
    '. . . .'
    '. . . .'
    '. g1 . .'
    '. g2 . .'
    '. g3 . .'
    '. g4 g4 .'
    '. g5 g5 .'
    '. . . .';
}

.text1-container {
  grid-area: g1;
  display: flex;
  justify-content: flex-start;
  animation: transitionIn 1s;
}

.text2-container {
  grid-area: g2;
  display: flex;
  justify-content: flex-start;
  animation: transitionIn 2s;
}

.text3-container {
  grid-area: g3;
  display: flex;
  justify-content: flex-start;
  animation: transitionIn 3s;
}

.splash-container {
  grid-area: g4;
  display: flex;
  justify-content: flex-start;
}

.techstacks-logo {
  grid-area: g5;
  display: flex;
  justify-content: flex-start;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.text1,
.text2,
.text3 {
  font-size: 2.5vw;
  font-family: Georgia, serif;
  color: #000000;
  text-shadow: 0.5px 0.5px #D59BF6;
}

.frontend-text {
  font-size: 13vw;
  font-family: Georgia, serif;
  margin-left: -65.8%;
  overflow: hidden;
  position: absolute;
  animation-name: splash;
  animation-duration: 9s;
}

.backend-text {
  font-size:13vw;
  font-family: Georgia, serif;
  margin-left: -65.8%;
  overflow: hidden;
  position: absolute;
  animation-name: splash;
  animation-delay: 3s;
  animation-duration: 9s;
}

.fullstack-text {
  font-size:13vw;
  font-family: Georgia, serif;
  margin-left: -65.8%;
  overflow: hidden;
  position: absolute;
  animation-name: splash;
  animation-delay: 6s;
  animation-duration: 9s;
}

.frontend-text,
.backend-text,
.fullstack-text {
  animation-iteration-count: infinite;
}

@keyframes splash {
  20% {margin-left: -65.8%; opacity: 0%;}
  50% {margin-left: 0%; opacity: 100%;}
  100% {margin-left: -65.8%; opacity: 0%;}
}

.frontend-logos {
  display: flex;
  align-self: flex-start;
  padding: 0.5% 0%;
  width: 80%;
  margin-left: -80%;
  overflow: hidden;
  position: absolute;
  animation-name: logo-splash;
  animation-duration: 9s;
}

.backend-logos {
  display: flex;
  align-self: flex-start;
  padding: 0.5% 0%;
  width: 80%;
  margin-left: -80%;
  overflow: hidden;
  position: absolute;
  animation-name: logo-splash;
  animation-delay: 3s;
  animation-duration: 9s;
}

.fullstack-logos {
  display: flex;
  align-self: flex-start;
  padding: 0.5% 0%;
  width: 80%;
  margin-left: -80%;
  overflow: hidden;
  position: absolute;
  animation-name: logo-splash;
  animation-delay: 6s;
  animation-duration: 9s;
}

.frontend-logos,
.backend-logos,
.fullstack-logos {
  animation-iteration-count: infinite;
}

@keyframes logo-splash {
  20% {margin-left: -80%; opacity: 0%;}
  50% {margin-left: 0%; opacity: 100%;}
  100% {margin-left: -80%; opacity: 0%;}
}

.techstacks-image {
  display: inline-block;
  width: 6%;
  margin: 0% 0.5% 0% 0%;
}




@media only screen and (min-width: 320px) and (max-width: 425px) {
  .homepage {
    overflow: hidden;
  }
  
  .homepage-grid-container {
    display: grid;
    grid-template: 18vw 40vw 10vw 20vw 20vw 10vw 24vw 20vw 5vw / 0.4fr 4fr 1fr 0.4fr;
    grid-template-areas:
      '. . . .'
      '. . . .'
      '. g1 g1 .'
      '. g2 g2 .'
      '. g3 g3 .'
      '. . . .'
      '. g4 g4 .'
      '. g5 g5 .'
      '. . . .';
  }
  
  .text1-container {
    grid-area: g1;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    animation: transitionIn 1s;
  }
  
  .text2-container {
    grid-area: g2;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    animation: transitionIn 2s;
  }
  
  .text3-container {
    grid-area: g3;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    animation: transitionIn 3s;
  }
  
  .splash-container {
    grid-area: g4;
    display: flex;
    justify-content: flex-start;
  }
  
  .techstacks-logo {
    grid-area: g5;
    display: flex;
    justify-content: flex-start;
  }
  
  @keyframes transitionIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  .text1,
  .text2,
  .text3 {
    font-size: 6vw;
    font-family: Georgia, serif;
    color: #000000;
    text-shadow: 0.5px 0.5px #D59BF6;
  }
  
  .frontend-text {
    font-size: 18vw;
    font-family: Georgia, serif;
    margin-left: -100%;
    overflow: hidden;
    position: absolute;
    animation-name: splash;
    animation-duration: 9s;
  }
  
  .backend-text {
    font-size: 18vw;
    font-family: Georgia, serif;
    margin-left: -100%;
    overflow: hidden;
    position: absolute;
    animation-name: splash;
    animation-delay: 3s;
    animation-duration: 9s;
  }
  
  .fullstack-text {
    font-size: 18vw;
    font-family: Georgia, serif;
    margin-left: -100%;
    overflow: hidden;
    position: absolute;
    animation-name: splash;
    animation-delay: 6s;
    animation-duration: 9s;
  }
  
  .frontend-text,
  .backend-text,
  .fullstack-text {
    animation-iteration-count: infinite;
  }
  
  @keyframes splash {
    20% {margin-left: -100%; opacity: 0%;}
    50% {margin-left: 0%; opacity: 100%;}
    100% {margin-left: -100%; opacity: 0%;}
  }
  
  .frontend-logos {
    display: flex;
    align-self: flex-start;
    margin-left: -90%;
    overflow: hidden;
    position: absolute;
    animation-name: logo-splash;
    animation-duration: 9s;
  }
  
  .backend-logos {
    display: flex;
    align-self: flex-start;
    margin-left: -100%;
    overflow: hidden;
    position: absolute;
    animation-name: logo-splash;
    animation-delay: 3s;
    animation-duration: 9s;
  }
  
  .fullstack-logos {
    display: flex;
    align-self: flex-start;
    margin-left: -90%;
    overflow: hidden;
    position: absolute;
    animation-name: logo-splash;
    animation-delay: 6s;
    animation-duration: 9s;
  }
  
  .frontend-logos,
  .backend-logos,
  .fullstack-logos {
    animation-iteration-count: infinite;
  }
  
  @keyframes logo-splash {
    20% {margin-left: -100%; opacity: 0%;}
    50% {margin-left: 0%; opacity: 100%;}
    100% {margin-left: -100%; opacity: 0%;}
  }
  
  .techstacks-image {
    width: 15%;
    margin: 0% 1% 0% 0%;
  }
}