.homepage-css {
  /* height: 100vh; */
  overflow: hidden;
}

.homepage-grid-container-css {
  display: grid;
  grid-template: 3vw 8vw 3vw 3vw 3vw 15vw 5vw 5vw / 0.4fr 4fr 1fr 0.4fr;
  grid-template-areas:
    '. . . .'
    '. grid-1 grid-6 .'
    '. grid-2 grid-6 .'
    '. grid-3 grid-6 .'
    '. grid-4 grid-6 .'
    '. grid-5 grid-5 .'
    '. grid-7 grid-7 .'
    '. . . .';
}

.logo-container-css {
  grid-area: grid-1;
  display: flex;
  justify-content: flex-start;
}

.text1-container-css {
  grid-area: grid-2;
  display: flex;
  justify-content: flex-start;
  animation: transitionIn 1s;
}

.text2-container-css {
  grid-area: grid-3;
  display: flex;
  justify-content: flex-start;
  animation: transitionIn 2s;
}

.text3-container-css {
  grid-area: grid-4;
  display: flex;
  justify-content: flex-start;
  animation: transitionIn 3s;
}

.splash-container-css {
  grid-area: grid-5;
  display: flex;
  justify-content: flex-start;
}

.hamburger-container-css {
  grid-area: grid-6;
  display: flex;
  justify-content: flex-end;
}

.techstacks-logo-css {
  grid-area: grid-7;
  display: flex;
  justify-content: flex-start;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.text1-css,
.text2-css,
.text3-css {
  font-size: 2.5vw;
  font-family: Georgia, serif;
  color: #000000;
  text-shadow: 0.5px 0.5px #D59BF6;
}

.frontend-text-css {
  font-size: 13vw;
  font-family: Georgia, serif;
  margin-left: -65.8%;
  overflow: hidden;
  position: absolute;
  animation-name: splash;
  animation-duration: 9s;
}

.backend-text-css {
  font-size:13vw;
  font-family: Georgia, serif;
  margin-left: -65.8%;
  overflow: hidden;
  position: absolute;
  animation-name: splash;
  animation-delay: 3s;
  animation-duration: 9s;
}

.fullstack-text-css {
  font-size:13vw;
  font-family: Georgia, serif;
  margin-left: -65.8%;
  overflow: hidden;
  position: absolute;
  animation-name: splash;
  animation-delay: 6s;
  animation-duration: 9s;
}

.frontend-text-css,
.backend-text-css,
.fullstack-text-css {
  animation-iteration-count: infinite;
}

@keyframes splash {
  20% {margin-left: -65.8%; opacity: 0%;}
  50% {margin-left: 0%; opacity: 100%;}
  100% {margin-left: -65.8%; opacity: 0%;}
}

.hamburger-css {
  border: 2px solid #000000;
  border-radius: 5px;
  background-image: linear-gradient(180deg, #D59BF6, #FF88DE);
  margin-top: 6%;
}

.hamburger-css:hover {
  border: 2px solid #D59BF6;
  border-radius: 5px;
  background-image: linear-gradient(#D59BF6, #FFFFFE);
}

.frontend-logos-css {
  display: flex;
  align-self: flex-start;
  padding: 0.5% 0%;
  width: 80%;
  margin-left: -80%;
  overflow: hidden;
  position: absolute;
  animation-name: logo-splash;
  animation-duration: 9s;
}

.backend-logos-css {
  display: flex;
  align-self: flex-start;
  padding: 0.5% 0%;
  width: 80%;
  margin-left: -80%;
  overflow: hidden;
  position: absolute;
  animation-name: logo-splash;
  animation-delay: 3s;
  animation-duration: 9s;
}

.fullstack-logos-css {
  display: flex;
  align-self: flex-start;
  padding: 0.5% 0%;
  width: 80%;
  margin-left: -80%;
  overflow: hidden;
  position: absolute;
  animation-name: logo-splash;
  animation-delay: 6s;
  animation-duration: 9s;
}

.frontend-logos-css,
.backend-logos-css,
.fullstack-logos-css {
  animation-iteration-count: infinite;
}

@keyframes logo-splash {
  20% {margin-left: -80%; opacity: 0%;}
  50% {margin-left: 0%; opacity: 100%;}
  100% {margin-left: -80%; opacity: 0%;}
}

.techstacks-image-css {
  display: inline-block;
  width: 6%;
  margin: 0% 0.5% 0% 0%;
}
