.homepage-css {
  height: 100vh;
  overflow: hidden;
}

.grid-container-css {
  display: grid;
  grid-template: 3vw 8vw 3vw 3vw 3vw 20vw 5vw / 0.4fr 4fr 1fr 0.4fr;
  grid-template-areas:
    '. . . .'
    '. grid-1 grid-6 .'
    '. grid-2 grid-6 .'
    '. grid-3 grid-6 .'
    '. grid-4 grid-6 .'
    '. grid-5 grid-5 .'
    '. . . .';
}

.logo-container-css {
  grid-area: grid-1;
  display: flex;
  justify-content: flex-start;
}

.text1-container-css {
  grid-area: grid-2;
  display: flex;
  justify-content: flex-start;
}

.text2-container-css {
  grid-area: grid-3;
  display: flex;
  justify-content: flex-start;
}

.text3-container-css {
  grid-area: grid-4;
  display: flex;
  justify-content: flex-start;
}

.splash-container-css {
  grid-area: grid-5;
  display: flex;
  justify-content: flex-start;
}

.hamburger-container-css {
  grid-area: grid-6;
  display: flex;
  justify-content: flex-end;
}

.text1-css {
  display: flex;
  font-size: 2.5vw;
  font-family: Georgia, serif;
  color: #000000;
  text-shadow: 0.5px 0.5px #D59BF6;
}

.text2-css {
  font-size: 2.5vw;
  font-family: Georgia, serif;
  color: #000000;
  text-shadow: 0.5px 0.5px #D59BF6;
}

.text3-css {
  font-size: 2.5vw;
  font-family: Georgia, serif;
  color: #000000;
  text-shadow: 0.5px 0.5px #D59BF6;
}

.frontend-text-css {
  font-size: 15vw;
  font-family: Georgia, serif;
  margin-left: -100%;
  padding: 0% 1%;
  animation-name: splash;
  animation-duration: 6s;
  overflow: hidden;
  position: absolute;
}

.backend-text-css {
  font-size:15vw;
  font-family: Georgia, serif;
  margin-left: -100%;
  animation-name: splash;
  animation-delay: 2s;
  animation-duration: 6s;
  opacity: 50%;
  overflow: hidden;
  position: absolute;
}

.fullstack-text-css {
  font-size: 15vw;
  font-family: Georgia, serif;
  margin-left: -100%;
  animation-name: splash;
  animation-delay: 4s;
  animation-duration: 6s;
  opacity: 30%;
  overflow: hidden;
  position: absolute;
}

.frontend-text-css,
.backend-text-css,
.fullstack-text-css {
  animation-iteration-count: infinite;
}

@keyframes splash {
  20% {margin-left: -100%; opacity: 0%;}
  50% {margin-left: 0%; opacity: 100%;}
  100% {margin-left: -100%; opacity: 0%;}
}

.hamburger-css {
  border: 2px solid #000000;
  border-radius: 5px;
  background-image: linear-gradient(180deg, #D59BF6, #FF88DE);
  margin-top: 6%;
}

.hamburger-css:hover {
  border: 2px solid #D59BF6;
  border-radius: 5px;
  background-image: linear-gradient(#D59BF6, #FFFFFE);
}

/* FOR NAVIGATION */
.navigation-css {
  height: 100vh;
  width: 100vw;
  z-index: 200;
  overflow: hidden;
  background-image: linear-gradient(180deg, #FFFFFE,#D59BF6);
  background-color: #D59BF6;
}

.grid-modal-css {
  display: grid;
  grid-template: 3.05vw 7.97vw 9.66vw 11vw 11vw 2.32vw / 0.4fr 4fr 1fr 0.4fr;
  grid-template-areas:
    '. . . .'
    '. grid1 grid5 .'
    '. grid2 grid5 .'
    '. grid3 grid5 .'
    '. grid4 grid5 .'
    '. . . .';
}

.logo-modal-css {
  grid-area: grid1;
  display: flex;
  justify-content: flex-start;
}

.text1-modal-css {
  grid-area: grid2;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.text2-modal-css {
  grid-area: grid3;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.text3-modal-css {
  grid-area: grid4;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.hamburger-modal-css {
  grid-area: grid5;
  display: flex;
  justify-content: flex-end;
}

.about-text-css {
  font-size: 8vw;
  font-family: Georgia, serif;
  color: #000000;
  text-shadow: 0.5px 0.5px #D59BF6;
  animation-name: appear;
  animation-duration: 1s;
}


.projects-text-css {
  font-size: 8vw;
  font-family: Georgia, serif;
  color: #000000;
  text-shadow: 0.5px 0.5px #D59BF6;
  animation-name: appear;
  animation-duration: 1s;
}

.contact-text-css {
  font-size: 8vw;
  font-family: Georgia, serif;
  color: #000000;
  text-shadow: 0.5px 0.5px #D59BF6;
  animation-name: appear;
  animation-duration: 1s;
}


@keyframes appear {
  0% {margin-top: -20%;}
  100% {margin-top: 0%;}
}

.about-text-css:hover,
.projects-text-css:hover,
.contact-text-css:hover {
  color: #FF88DE;
  text-shadow: 0.5px 0.5px #000000;
}

.hamburger2-css {
  border: 2px solid #000000;
  border-radius: 5px;
  background-image: linear-gradient(180deg, #D59BF6, #FF88DE);
  margin-top: 5.5%;
  margin-right: -0.2%;
}

.hamburger2-css:hover {
  border: 2px solid #D59BF6;
  border-radius: 5px;
  background-image: linear-gradient(#D59BF6, #FFFFFE);
}
