.projects-page-css {
  overflow: hidden;
}

.projects-grid-container-css {
  display: grid;
  grid-template: 3vw 8vw 30vw 2vw / 0.4fr 4fr 1fr 0.4fr;
  grid-template-areas:
    '. . . .'
    '. grid-1 grid-6 .'
    '. grid-2 grid-2 .'
    '. . . .';
}


/* CSS for logo-container-css is t the homepage.css */
/* .logo-container-css {
  grid-area: grid-1;
} */

/* CSS for hamburger-container-css is t the homepage.css */
/* .hamburger-container-css {
  grid-area: grid-6;
} */

.projects-container {
  grid-area: grid-2;
  display: grid;
  grid-template: 15vw 2vw 6vw 5vw 4vw / 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-areas:
    'g1 g1 g7 g7 g13 g13 g19 g19'
    'g2 g2 g8 g8 g14 g14 g20 g20'
    'g3 g3 g9 g9 g15 g15 g21 g21'
    'g4 g4 g10 g10 g16 g16 g22 g22'
    'g5 g6 g11 g12 g17 g18 g23 g23';
}

.image1-css {
  grid-area: g1;
}

.name1-css {
  grid-area: g2;
}

.desc1-css {
  grid-area: g3;
}

.tech1-css {
  grid-area: g4;
}

.code1-css {
  grid-area: g5;
}

.demo1-css {
  grid-area: g6;
}

.image2-css {
  grid-area: g7;
}

.name2-css {
  grid-area: g8;
}

.desc2-css {
  grid-area: g9;
}

.tech2-css {
  grid-area: g10;
}

.code2-css {
  grid-area: g11;
}

.demo2-css {
  grid-area: g12;
}

.image3-css {
  grid-area: g13;
  font-family: Georgia, serif;
  color: #000000;
}

.image4-css {
  grid-area: g19;
  font-family: Georgia, serif;
  color: #000000;
}

.proj-image-css {
  max-width: 100%;
  max-height: 100%;
  animation: comingIn 2s;
}

@keyframes comingIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.proj-texts-css {
  margin-top: 1.5%;
  padding: 0% 1%;
  font-family: Georgia, serif;
  color: #000000;
  animation: comingUp 2s;
}

@keyframes comingUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.bold-css {
  font-weight: 700;
}

.tech-display-css {
  width: 10%;
  display: inline-block;
  margin-top: -8%;
  animation: comingUp 2s;
}

.tech1-display-css {
  width: 20%;
  display: inline-block;
  margin-top: -8%;
  animation: comingUp 2s;
}

.github-icon-css {
  margin-top: -20%;
  animation: comingUp 2s;
}

.deploy-icon-css {
  margin-top: -20%;
  animation: comingUp 2s;
}